{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" href="{%static '/_img/Logo-pequeño.ico'%}">
    <link rel="stylesheet" href="{%static '/_css/style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Funcionalidades-ASSIPARK</title>
</head>
<body>
    <!-- incio del menu-->
    <div class="align-self-center justify-content-center">
        <!-- header / navegador  -->
        <header>
            <nav class="container-fluid navbar navbar-expand-lg">
                <!-- ICONO -->
                <div>
                    <img src="{%static '/_img/LOGO_ASSIPARK_BLANCO.png'%}" class="navbar-brand" height="70" width="ms-auto">
                </div>

                <!-- Boton del menu -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Elementos del menu colapsable -->



                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="inicio" class="nav-link link-light">  Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="sobreNosotros" class="nav-link link-light"> Acerca De </a>
                        </li>
                        <li class="nav-item">
                            <a href="modulos" class="nav-link link-light"> Módulos </a>
                        </li>
                        <li>
                            <a href="funciones" class="nav-link link-light"> Funcionalidades </a>
                        </li>
                        <li>
                            <a href="ventajas" class="nav-link link-light"> Ventajas </a>
                        </li>
                        <li>
                            <a href="contactanos" class="nav-link link-light"> Contáctenos </a>
                        </li>
                        <a href="login"><button class="log_in">Inicio de Sesión</button></a>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <div class="text-center" style="padding: 35px;">
            <h1>Funcionalidades</h1>
        </div>
        <div class="module-container">
            <div class="module-box">
                <div class="module-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="40" fill="currentColor" class="bi bi-p-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </div>
            <h3></h3>
                <div>
                    <p class="text-center">Controlar la entrada y salida del parqueadero tanto para habitantes como para visitantes. </p>
                </div>
            </div>
        <div class="module-box">
            <div class="module-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="40" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>                
                </svg>
            </div>
        <h3></h3>
            <div>
                <p class="text-center">Facilitar la verificación de vehículos que se encuentran dentro del conjunto residencial. </p>
            </div>
        </div>
        <div class="module-box">
            <div class="module-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="40" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
                </svg>
            </div>
        <h3></h3>
            <div>
                <p class="text-center">Realizar consultas del número de parqueaderos disponibles. </p>
            </div>
        </div>
        <div class="module-box">
            <div class="module-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="40" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
                    <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
                    <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>                </svg>
            </div>
        <h3></h3>
            <div>
                <p class="text-center">Asignación de parqueaderos para los habitantes que cumplan con las condiciones </p>
            </div>
        </div>
        <div class="module-box">
            <div class="module-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="40" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
                    <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                    <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>                
                </svg>
            </div>
        <h3></h3>
            <div>
                <p class="text-center">Generar el reporte de los vehículos al momento del ingreso, se consigna el número de placa del vehículo. </p>
            </div>
        </div>
        <div class="module-box">
            <div class="module-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="40" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7ZM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5ZM10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM13 8h-2V6h2v2Z"/> 
                </svg>
            </div>
        <h3></h3>
            <div>
                <p class="text-center">Regular la disponibilidad de los parqueaderos dependiendo si se encuentran en mantenimiento. </p>
            </div>
        </div>
        </div>
    </div>
        <!-- Footer -->
        <footer class="container-fluid-md bg-light border-top p-3  text-center">
            <div class="row">
                <div class="col p-3">
                    EQUIPO DE DESARROLLADORES:
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col text-right ">
                    Angel David Cruz Pardo 
                </div>
                <div class="col-md-1 ">
                    <a href="AngelGit">
                        <i class="bi bi-github"></i> <br>
                    </a>
                    <a href="">
                        <i class="bi bi-envelope-at-fill">
                            {% comment %} <meta http-equiv="refresh" content="0;url=mailto:lokostv@hotmail.com" /> {% endcomment %}
                        </i>
                    </a>
                </div>
                <div class="col text-right ">
                    Kevin Felipe Carrillo Romero
                </div>
                <div class="col-md-1 ">
                    <a href="KevinGit">
                        <i class="bi bi-github"></i> <br>
                    </a>
                    <a href="#">
                        <i class="bi bi-envelope-at-fill">
                            {% comment %} <meta http-equiv="refresh" content="0;url=mailto:kcarrillor0109@gmail.com" /> {% endcomment %}
                        </i>
                    </a>
                </div>
                <div class="col text-right ">
                    Lenin Alexander Hernandez Navas 
                </div>
                <div class="col-md-1">
                    <a href="LeninGit">
                        <i class="bi bi-github"></i> <br>
                    </a>
                    <a href="#">
                        <i class="bi bi-envelope-at-fill">
                            {% comment %} <meta http-equiv="refresh" content="0;url=mailto:lhernandeznavas@gmail.com" /> {% endcomment %}
                        </i>
                    </a>
                </div>
                <div class="col text-right ">
                    David Andres Pulido Rodriguez
                </div>
                <div class="col-md-1 ">
                    <a href="DavidGit">
                        <i class="bi bi-github"></i> <br>
                    </a>
                    <a href="#">
                        <i class="bi bi-envelope-at-fill">
                            {% comment %} <meta http-equiv="refresh" content="0;url=mailto:davpulid2005@gmail.com" /> {% endcomment %}
                        </i>
                    </a>
                </div>
            </div>
        </footer>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>