{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{%static '/_css/style.css'%}">
<link rel="shortcut icon" href="{%static '/_img/Logo-pequeño.ico'%}">
<title>Recuperar contraseña-ASSIPARK</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
    <div class="col-md-6 left-half"></div>
    <div class="col-md-6">
        <img src="{%static '/_img/undraw_fast_car_p4cu.svg'%}" style="width: 95%; position: absolute; top: 130px; ">
    </div>
    <div class="col-md-6" style="top: 75px;">
        <div class="login-box">
        <h2 class="text-center" style="padding: 15px;">¿Olvidaste tu contraseña?</h2>
        <a>Ingrese su correo electrónico y el sistema le enviará un mail con las instrucciones que debe seguir. </a>
        <br><br>
        <form>
            <div class="form-group">
                <label for="numero">Ingrese su correo electrónico:</label>
                <input type="email" class="form-control" id="Document" maxlength="25" ppattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required autofocus>
            </div>
                <button type="submit" class="btn btn-primary btn-block">Enviar Correo</button>
        </form>
        </div>
    </div>
    <div class="col-12">
        <a class="btn btn-secondary rounded-circle" href="login" role="button">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
